[submodule "\\WorkingProjects\\AngularJs\\SearchEngineWithAngularAndAspNetMvc\\SearchEngine"]
	path = \\WorkingProjects\\AngularJs\\SearchEngineWithAngularAndAspNetMvc\\SearchEngine
	url = E:\\WorkingProjects\\AngularJs\\SearchEngineWithAngularAndAspNetMvc\\SearchEngine
